/* useful color */
$purple1: #7c1cff;
$purple2: #b027f9;

.App nav {
  position: fixed;
  padding: 10vh 0 0 10vh;
  width: 100%;
  z-index: 10;
  color: white;
  transition: color 1s cubic-bezier(0.9, 0, 0.33, 0.94);
  font-size: 15px;
  &.color {
    color: $purple1;
    .logo {
      background: $purple1;
    }
  }
  .logo {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    color: transparent;
    font-size: 0;
    transition: background-color 1s cubic-bezier(0.9, 0, 0.33, 0.94);
  }
  ul {
    display: flex;
    align-items: center;
    float: left;
    li {
      cursor: pointer;
      float: left;
      margin-right: 30px;
      &:not(:last-child) {
        margin-right: 30px;
      }
      a {
        color: inherit;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .App nav {
    font-size: 13px;
    padding: 18vw 0 0 calc(5% + 9vw);
    .logo {
      width: 30px;
      height: 30px;
      display: none;
    }
    ul li:not(:last-child) {
      margin-right: 20px;
    }
  }
}
